body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 160px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homePageImg {
width:250px;
height:auto;
padding-top:10px;
}

#parkdetailimage {
    width: 300px;
    height: auto;
}
#mainimage{
    width:500px;
    height:auto;
}
.footerimage{
    width:30px;
    height:auto;
    float:right;
}
.weatherimage{
    width:50px;
    height:auto;
}
/*#weathertable, #degreelink
{
display:inline;
}*/
/*#parkimagedetail{
    float:left;
}*/
.parkinfotitle{
    font-weight:bold;
    font-size:medium;
}
